body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: auto;
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;

}

.swiper-container img{
  width: 100%;
  margin-top: -60%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 180px;
  position: relative;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition-property:all;
}

.swiper-slide p{
  margin: 0;
  padding: 0;
  font-size: 8px;
  position: absolute;
  left: 0;
  bottom: 5%;
  background-color: rgb(248,248,248);
  color: rgb(97,151,198);
}

#progressEffect{
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 20px;
}

/* 前进后退按钮的位置 */
/* 前进按钮 */
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  right: -7%;
  color: black;
  outline: none;
}
/* 后退按钮 */
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: -7%;
  color: black;
  outline: none;
}

.none_swiper{
  opacity: 0;
}